:root {
    /* Colors */
    --color-accent: #10C9C3;
    --color-white: #fff;
    --color-black: black;
    --color-grey-1: #222;
    --color-grey-2: #444;
    --color-grey-3: #888;
    --color-grey-4: #ccc;
    --color-grey-5: #eee;
    /* Font Sizes */
    --fz-xs: 12px;
    --fz-s: 16px;
    --fz-m: 18px;
    --fz-l: 24px;
    --fz-xl: 32px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.common_heading {
    font-size: var(--fz-xl);
    font-weight: 500;
    color: var(--color-grey-1);
    font-family: "Montserrat", sans-serif;
}

.common_text {
    font-size: var(--fz-s);
    font-weight: 400px;
    color: var(--color-grey-1);
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
}

.container {
    width: 94%;
    height: 100%;
    margin: auto;
    max-width: 1600px;
}

.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);

}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header_logo {
    height: 24px;
}

.header_logo>img {
    height: 24px;
}


.header_navlist {
    display: flex;
    gap: 2em;
    list-style: none;
    align-items: center;
}

.header_link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-grey-1);
}

.header_link>a {
    color: inherit;
    text-decoration: none;
}

.header_active {
    color: var(--color-accent);
}



.hero {
    background: url("./img/main.jpg") no-repeat center center / cover;
    height: 100vh;

}

.hero_wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.hero_block {
    width: 50%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    border: 1px solid none;
}

.hero_button {

    background: var(--color-accent);
    padding: 18px 48px;
    color: var(--color-white);
    font-size: var(--fz-xs);
    text-transform: uppercase;
    font-weight: 400px;
    font-family: "Montserrat", sans-serif;
    border-radius: 4px;
    border: none;

}

.about_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    padding: 80px 0;
}

.about_text {
    max-width: 600px;
    text-align: center;
}

.about_image {
    width: 200px;
    height: 60px;

}

.about_image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills {
    border: 1px solid;
    background: url("./img/conv.jpg") no-repeat center center / cover;
}

.skills_wrap {
    padding: 100PX 0;
}

.skills_left {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 50%;
    max-width: 500px;
}

.skills_block {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.skills_item {
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.skills_text {
    display: flex;
    gap: 2em;
    letter-spacing: 1px;
}

.skills_title {
    font-size: var(--fz-xs);
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
}

.skills_percent {
    font-size: var(--fz-xs);
    font-weight: 500;
    line-height: 1.5;
}

.skills_line {
    width: 80%;
    height: 3px;
    background: var(--color-grey-4);
}

.skills_level {
    background: var(--color-accent);
    height: 100%;
}

#lvl75 {
    width: 75%;
}

#lvl90 {
    width: 90%;
}

#lvl65 {
    width: 65%;
}
.stats{
    background: var(--color-accent);

}
.stats_wrap{
    padding: 50px 0;
display: grid;
grid-template-columns: repeat(4, 1fr);
}
.stats_item {
color: var(--color-white);
display: grid;
grid-template-columns: auto 1fr;
grid-template-areas: 
"icon num"
"icon text";
column-gap:  0.5em;
}
.stats_icon{
    aspect-ratio: 1 / 1;
grid-area: icon;
font-size: 36px;
line-height: 1;

}
.stats_num{
grid-area: num;
font-family: "Montserrat" sans-serif;
font-size: var(--fz-m);
font-weight: 500px;
line-height: 1;
}
.stats_text{
grid-area: text; 
font-family: "Montserrat" sans-serif;
font-size: var(--fz-xs);
font-weight: 500px;
line-height: 1;
}
.image{

}
.image_wrap{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows:2fr;
    height: 360px;
    width: auto;
    grid-template-areas: 
    " honey glass tln she"
    "bag lab cup env";

}
.image_honey{
    background: url(./img/g7.jpg) no-repeat;
    grid-area: honey;

}
.image_glass{
    background: url(./img/g5.jpg) no-repeat ;
    grid-area: glass;
}   
.image_tln{
    background: url(./img/g1.jpg);
    grid-area:tln ;
}
.image_she{
    background: url(./img/g8.jpg);
    grid-area: she;
}
.image_bag{
    background: url(./img/g3.jpg);
    grid-area: bag;
}
.image_lab{
    background: url(./img/g9.jpg);
    grid-area: lab;
}
.image_cup{
    background: url(./img/);
    grid-area: cup;
}
.image_env{
    background: url(./img/g1.jpg);
    grid-area: env;
}