:root {
    /* Colors */
    --color-accent: #10C9C3;
    --color-black:black;
    --color-dark: #222;
    --color-grey: #888;
    --color-light: #eee;
    --color-white:#fff;
    /* Font Sizes */
    --fz-xs: 12px;
    --fz-s: 16px;
    --fz-m: 18px;
    --fz-l: 24px;
    --fz-xl: 36px;    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;

}

.container {
    width: 94%;
    height: 100%;
    margin: auto;
    max-width: 1600px;
    border: solid 1px black;
}
.hero{
    
}
.hero_wrap{
    
}
.hero_block{
    
}
.hero_heading{
    
}
.hero_text{
    
}
.hero_button{
    
}
